* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #3cb373;
    color: black;  
    font-family: 'Arial';
    padding: 30px;
    }

    .container{
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(8, 1fr);
        max-width: 1000px;
        max-height: fit-content;
        justify-content: center;
        padding: 20px;
        
    }

img{
    width: 100%;   
}
p{
   background: white;
   padding: 20px;
}

h1{
    background: white;
    padding: 20px;
}
h5{
    text-align: justify;
    background: white;
    padding: 20px;
}

div{
    width: auto;
    height: auto;
    background: #3cb373;
     padding-bottom:  25px;
    padding-left: 20px;
}

.item1 {
    height: fit-content;
    grid-row-start: 1;
    grid-row-end: 5;
  }
.item2 {
    height: fit-content;
    grid-row-start:5 ;
    grid-row-end: 11;
  }
.item3 {
    height: fit-content;
    grid-row-start:1 ;
    grid-row-end: 5;
  }
.item4 {
    height: fit-content;
    grid-row-start:5 ;
    grid-row-end: 7;
  }
.item5 {
    height: fit-content;
    grid-row-start:7 ;
    grid-row-end: 9;
  }
.item6 {
    height: fit-content;
    grid-row-start:9 ;
    grid-row-end: 11;
  }
.item7 {
    height: fit-content;
    grid-row-start:11 ;
    grid-row-end: 13;
  }

  @media (min-width: 768px)
  {
    .container{ grid: 1fr ;}
   
}
/* neveikia min width perrikiavimas į 1 column */

